@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Orbitron:wght@500&family=Poppins:wght@100;400&family=Rancho&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Orbitron:wght@500&family=Poppins:wght@200&family=Rancho&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* add font family  */
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#191970,rgb(4, 0, 8));
    font-family: 'Poppins', sans-serif;
}
                 /* Page one code */
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#002855,#a00c87);
}
section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #191970, transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
/* Move the bilduing pic up on desktop screen  */
section img#buildings{
   transform: translateY(-110px);
}
#text{
     position: relative; /*change to relative and see the effect */
     /* top: -20%; */
     color: white;
     font-size: 10vw;
     z-index: 1;
     font-family: 'Roboto', sans-serif;
}
#river{
    z-index: 2;
}
#scroll{
    z-index: 1;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
}


              /* Page two code  */

.sec1{
    background: linear-gradient(#191970,rgb(4, 0, 8));
    position: relative;
    z-index: 5;
    padding: 50px;
    color: white;
    text-align: center;
    line-height: 400%;
    font-family: 'Poppins', sans-serif;
} 
.sec1 h2 {
    font-size: 8vw;
    line-height: 100%;
}
.sec1 video{
    width: 100%;
}

             /* Page 3 code  */

.leaveamessage{
    color: #0e3742;
    outline: none;
    animation: animate 5s linear infinite;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30%;
}             
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: white;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

.messagecontainer{
    width: 100%;
    display: flex;
    flex-direction:column;
}
.name{
    padding: 2%;
    margin-top: 4%;
    border-radius: 6px;
    font-size: 1.4em;
}
.email{
    padding: 2%;
    margin-top: 4%;
    border-radius: 6px;
    font-size: 1.4em;
}
.type-message{
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 2%;
    margin-top: 4%;
    border-radius: 6px;
    font-size: 1.4em;
}
.button{
    width: 35%;
    margin-top: 4%;
    padding: 3%;
    border-radius: 50px;
    background-color: rgb(31, 160, 70);
    font-size: 2rem;
    color: white;
}
.button:hover{
    background-color:whitesmoke;
    color: rgb(31, 160, 70);
}
.footer{
    text-align: center;
    color: whitesmoke;
}

/* Responsive Code Section  */
@media(max-width:902px){
    /* Move the building pic down on mobile screen  */
    section img#buildings{
        transform: translateY(-40px);
    }
    #text{
        font-size: 11vw;
    }
    section img#moon{
        top: 40%;
    }
    .sec h2{
        font-size: 9vw;
    }
    .projectdec{
        line-height: 150%;
    }
    .button{
        font-size: 1rem;
    }
    .name{
        font-size: large;
    }
    .email{
        font-size: large;
    }
    .type-message{
        font-size:large ;
    }
}

@media(min-width:1000px){
    .messagecontainer{
        width: 50%;
        margin-top: 10%;
    }
    .button{
        padding: 1%;
        font-size: 1rem;
    }
}


/* code for preloader screen  */
#preloader{
    background: rgb(255, 255, 255) url(/assets/loading.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
}